DATABASE_URL=postgresql://user:password@127.0.0.1:5432/mie_search_index_db
RABBITMQ_HOST=127.0.0.1
RABBITMQ_QUEUE=global_search_updates
ELASTICSEARCH_URL=http://127.0.0.1:9200
ELASTICSEARCH_INDEX=global_search_index
REDIS_HOST=127.0.0.1
REDIS_PORT=6379