fastapi>=0.109.0
uvicorn[standard]>=0.27.0
sqlalchemy>=2.0.25
psycopg2-binary>=2.9.9    # PostgreSQL driver
pydantic>=2.6.0
pydantic-settings>=2.1.0  # For loading environment variables
pika>=1.3.2               # RabbitMQ client
alembic>=1.13.1           # For database migrations
elasticsearch>=8.0.0,<9.0.0